<div class="patient-menu">
    <a href="#patienthome">HOME</a>
    <ul>
        <li><a href="#apptrequest">REQUEST APPOINTMENT</a>
        </li>
        <li><a href="#schedule">SCHEDULE</a>
        </li>
        <li><a href="#notes">NOTES</a>
        </li>
        <li><a href="#logout">LOG OUT</a>
        </li>
    </ul>
</div>

<form class="ailments">
    <div>
        <input type="text" required placeholder="What's wrong?">
    </div>
    <button>ADD</button>
</form>

<button class="schedulebtn"> <a href="#schedule">GO TO SCHEDULE</a></button>
