<div class="main-menu">
    <a href="#">HOME</a>
    <ul>
        <li><a href="#features">FEATURES</a>
        </li>
        <li><a href="#about">ABOUT</a>
        </li>
        <li><a href="#faq">FAQ</a>
        </li>
    </ul>
</div>

<div class="patient-Login">
<h4>Login:</h4>
<form class = "patientLogin">
    <div><input type="email" placeholder="email/username" name="email" required></div>
    <div><input type="password" placeholder="password" name="password" required></div>

    <button>
    Login
    </button>
</form>
<br>
<h4>If you do not have an account, please register here:</h4>
<form class = "patientRegister">
    <div><input type="email" placeholder="email/username" name="email" required></div>
    <div><input type="password" placeholder="password" name="password" required></div>
    <div><input type="password" placeholder="re-enter password" name="passwordrepeat" required></div>
    <div><input type="text" placeholder="First Name" name="firstname" required></div>
    <div><input type="text" placeholder="Last Name" name="lastname" required></div>
    <div><label>Select Date of Birth:</label><input type="date" name="dob" required></div>

    <button>
    Register
    </button>
</form>
</div>
